# NUMBERS
<p>Integers - A whole number, positive or negative, without decimal point, of any length</p>
<p>Float - A positive or negative number, with one or more decimals
         - Float can also be scientific numbers with an "e" to indicate the power of 10.
</p>
<p>Complex - Written with a 'j' as an imaginary part</p>
<p>Boolean</p>

In [1]:
x = 321
y = 321.897
z = 35j
p = 67 > 56

print(type(x))
print(type(y))
print(type(z))
print(type(p))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [2]:
a = 67E4
b = 54e6
c = -107e10

print(a)
print(b)
print(c)

670000.0
54000000.0
-1070000000000.0

In [3]:
d = int("0741308360")
d

741308360

# Strings

Strings are immutable

## String Methods
capitalize() - Converts the first character to upper case<br>
casefold() - Converts string into lower case<br>
center() - Returns a centered string<br>
count() - Returns the number of times a specified value occurs in a string <br>
encode() - Returns an encoded version of the string<br>
endswith() - Returns true if the string ends with the specified value<br>
expandtabs() - Sets the tab size of the string<br>
find() - Searches the string for a specified value and returns the position of where it was found<br>
format() - Formats specified values in a string<br>
format_map() - Formats specified values in a string<br>
index() - Searches the string for a specified value and returns the position of where it was found<br>
isalnum() - Returns True if all characters in the string are alphanumeric<br>
isalpha() - Returns True if all characters in the string are in the alphabet<br>
isdecimal() - Returns True if all characters in the string are decimals<br>
isdigit() - Returns True if all characters in the string are digits<br>
isidentifier() - Returns True if the string is an identifier<br>
islower() - Returns True if all characters in the string are lower case<br>
isnumeric() - Returns True if all characters in the string are numeric<br>
isprintable() - Returns True if all characters in the string are printable<br>
isspace() - Returns True if all characters in the string are whitespaces<br>
istitle() - Returns True if the string follows the rules of a title<br>
isupper() - Returns True if all characters in the string are upper case<br>
join() - Joins the elements of an iterable to the end of the string<br>
ljust() - Returns a left justified version of the string<br>
lower() - Converts a string into lower case<br>
lstrip() - Returns a left trim version of the string<br>
maketrans() - Returns a translation table to be used in translations<br>
partition() - Returns a tuple where the string is parted into three parts<br>
replace() - Returns a string where a specified value is replaced with a specified value<br>
rfind() - Searches the string for a specified value and returns the last position of where it was found<br>
rindex() - Searches the string for a specified value and returns the last position of where it was found<br>
rjust() - Returns a right justified version of the string<br>
rpartition() - Returns a tuple where the string is parted into three parts<br>
rsplit() - Splits the string at the specified separator, and returns a list
rstrip() - Returns a right trim version of the string<br>
split() - Splits the string at the specified separator, and returns a list<br>
splitlines() - Splits the string at line breaks and returns a list<br>
startswith() - Returns true if the string starts with the specified value<br>
strip() - Returns a trimmed version of the string<br>
swapcase() - Swaps cases, lower case becomes upper case and vice versa<br>
title() - Converts the first character of each word to upper case<br>
translate() - Returns a translated string<br>
upper() - Converts a string into upper case<br>
zfill() - Fills the string with a specified number of 0 values at the beginning<br>

In [4]:
name = "Chrispine"

len(name)

9

In [5]:
name.capitalize() ## Convert first letter to capital

'Chrispine'

In [6]:
string = "CASEFOLD"
## Convert string to lower case

print("Using string.casefold()", string.casefold())
print("Using string.casefold()", string.lower())

Using string.casefold() casefold
Using string.casefold() casefold

In [7]:
## string.center(length, character)
## length - (Required) Length of returned string
## character - (optional) Optional. The character to fill the missing space on each side. Default is " " (space)

string.center(60, "1")

'11111111111111111111111111CASEFOLD11111111111111111111111111'

In [8]:
# string.count(value, start(optional), end(optional))
# Returns number of times a specified value occurs in a string
car = "My car has car no fuel"

print(car.count("car"))
print(car.count("car", 3, 14))

2
2

In [9]:
# string.encode(encoding=encoding, errors=errors)
encode = "Pyth£n!"
print(encode.encode())
print(encode.encode(encoding="ascii", errors="backslashreplace"))
print(encode.encode(encoding="ascii", errors="ignore"))
print(encode.encode(encoding="ascii", errors="namereplace"))
print(encode.encode(encoding="ascii", errors="replace"))
print(encode.encode(encoding="ascii", errors="xmlcharrefreplace"))
print(encode.encode(encoding="ascii", errors="strict"))

b'Pyth\xc2\xa3n!'
b'Pyth\\xa3n!'
b'Pythn!'
b'Pyth\\N{POUND SIGN}n!'
b'Pyth?n!'
b'Pyth&#163;n!'

UnicodeEncodeError: 'ascii' codec can't encode character '\xa3' in position 4: ordinal not in range(128)

In [10]:
# string.endswith(value, start, end)
ew = "Hello, your captain speaking."

ew.endswith(".")

True

In [11]:
# Format
# string.format(value1, value2...)

txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'am 36
My name is John, I'am 36
My name is John, I'am 36

In [ ]:
name[0:]

In [ ]:
name[:-1]

In [ ]:
# name[0:5]
name[:8]

In [ ]:
name[0:] = "K" #Strings are Immutable

In [ ]:
name.upper()

# LIST

In [ ]:
myList = []
# listed = list()
type(myList)

In [ ]:
myList = ["Kanai", 12, "Tom", 12, 17j, 17]

myList

In [ ]:
myList[2] = "Kim"
myList

In [ ]:
myList[0:3]

In [ ]:
myList.append("Kinoti")
myList

In [ ]:
myList.insert(6, "Mburu")
myList

In [ ]:
myList.reverse()
myList

In [ ]:
myList.pop()

# Range

In [2]:
y = range(1, 11)
print(y)

range(1, 11)

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a = {1,2,3,4,5}
print(type(a))
b = ("a","b","c","d","e")
type(b)

<class 'set'>

tuple

In [7]:
c = [a,b]

In [8]:
print(c)

[{1, 2, 3, 4, 5}, ('a', 'b', 'c', 'd', 'e')]

In [9]:
type(c)

list

In [11]:
d = 10
e = "Age"

e + str(d)

'Age10'