| Method | Description|
| --- | --- |
| add() | Adds an element to the set |
| clear() | Removes all the elements from the set |
| copy() | Returns a copy of the set |
| difference() | Returns a set containing the difference between two or more sets |
| difference_update() | Removes the items in this set that are also included in another, specified set |
| discard() | Remove the specified item |
intersection() | Returns a set, that is the intersection of two other sets
| intersection_update() | Removes the items in this set that are not present in other, specified set(s) |
|isdisjoint() | Returns whether two sets have a intersection or not |
| issubset() | Returns whether another set contains this set or not |
| issuperset() | Returns whether this set contains another set or not |
| pop() | Removes an element from the set |
| remove() | Removes the specified element |
| symmetric_difference() | Returns a set with the symmetric differences of two sets |
| symmetric_difference_update() | inserts the symmetric differences from this set and another |
| union() | Return a set containing the union of sets |
| update() | Update the set with the union of this set and others |

Note: Sets are unordered, so you cannot be sure in which order the items will appear.
A set cannot have duplicate items

In [3]:
cars = {"Suzuki", "Mazda", "Range Rover", "Volkswagen"}
print(type(cars))
print(cars)

<class 'set'>
{'Suzuki', 'Volkswagen', 'Range Rover', 'Mazda'}

# Accessing Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.<br>

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, 
by using the in keyword. <br>

In [4]:
cars[0]

TypeError: 'set' object is not subscriptable

In [6]:
for car in cars:
    print(car)

Suzuki
Volkswagen
Range Rover
Mazda

In [7]:
print("Suzuki" in cars)

True

# Changing Items
Once a set is created it cannot be changed. But new items can be added

# Adding items

In [9]:
# add(), Can only add one item
cars.add("Mobus")
print(cars)

{'Mazda', 'Volkswagen', 'Mobus', 'Suzuki', 'Range Rover'}

In [13]:
# update(), adds multiple items to a set
cars.update(["Velar", "GTI"])
print(cars)

{'V', 'Mazda', 'e', 'l', 'a', 'Volkswagen', 'r', 'GTI', 'I', 'Velar', 'Mobus', 'Suzuki', 'G', 'Range Rover', 'T'}

In [15]:
len(cars)

15

# Remove Item